@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #825ee6, #55b7ff);
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
  overflow-x: hidden;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.logo img {
  margin-top: 5px;
      height: 8vh;
  width: auto;
  margin-left: 27px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5vw;
  justify-content: flex-start;
}

.menu li {
  left: 10px;
  margin-right: 20px;
  font-size: 17px;
  font-weight: 400;
}
.menu li :hover{
cursor: pointer;
text-decoration: underline;
color: #000;
}
.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #000;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 0 10px;
  right: 30%;
}

.search-input {
  border: 1px solid rgb(46, 27, 46);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  margin-right: 5px;
}
.icons img {
  height: 30px;
  width: auto;
}
.button-nav{
  display: flex;
  gap: 30px;
}
.admin-login-button {
  background: linear-gradient(to right, #6200ea, #bb86fc);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.admin-login-button:hover {
  background: linear-gradient(to right, #bb86fc, #6200ea);
  cursor: pointer;
  text-decoration: underline;
  /* transition: all 15s ease; */
}
.sighting-button{
  background: linear-gradient(to right, #6200ea, #bb86fc);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  font-size: 16px;
  
}
  .sighting-button:hover {
      background: linear-gradient(to right, #bb86fc, #6200ea);
      cursor: pointer;
      text-decoration: underline;
  }


  /* Nav bar ends hereeeeeeeeeeeeeeeeeeeee */
.container{
  margin-top: 10vh;
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #652093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #652093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #652093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #652093;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}