* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo img {
    margin-top: 5px;
        height: 8vh;
    width: auto;
    margin-left: 27px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5vw;
    justify-content: flex-start;
}

.menu li {
    left: 10px;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 400;
}
.menu li :hover{
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}
.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #000;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0 10px;
    right: 30%;
}

.search-input {
    border: 1px solid rgb(46, 27, 46);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    margin-right: 5px;
}
.icons img {
    height: 30px;
    width: auto;
}
.button-nav{
    display: flex;
    gap: 30px;
}
.admin-login-button {
    background: linear-gradient(to right, #6200ea, #bb86fc);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.admin-login-button:hover {
    background: linear-gradient(to right, #bb86fc, #6200ea);
    cursor: pointer;
    text-decoration: underline;
    /* transition: all 15s ease; */
}
.sighting-button{
    background: linear-gradient(to right, #6200ea, #bb86fc);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 16px;
    
}
    .sighting-button:hover {
        background: linear-gradient(to right, #bb86fc, #6200ea);
        cursor: pointer;
        text-decoration: underline;
    }


    /* Nav bar ends hereeeeeeeeeeeeeeeeeeeee */
    
    .full{
        margin-top: 20vh;
    }
    .container {
        border: 1px solid #ccc;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 20vh;
        padding: 10px;
    
        margin-bottom: 50px; /* Increase the margin-bottom to 50px */
    }
    
    .header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc; /* Add a border below the header */
    }
    
    /* text */
    #container {
        display: flex;
    }
    #outertext, #outer {
            display: flex; /* Change display property to inline-block */
            align-items: center;
            justify-content: center;
            vertical-align: middle; /* Adjust vertical alignment */
            font-size: 20px;
            font-weight: bold;
            background: linear-gradient(to right, #d322ee90, #9b0482);
            -webkit-background-clip: text;
            color: transparent;
        }
        
    
    #outertext{
        font-size: 20px;
            font-weight: bold;
            background: linear-gradient(to right, #d322ee90, #9b0482);
            -webkit-background-clip: text;
            color: transparent;
    }
    #outer{
        font-size: 28px;
            font-weight: bold;
            background: linear-gradient(to right, #6200ea, #bb86fc);
            -webkit-background-clip: text;
            color: transparent;
    }
    .innertext{
        font-size: 14px;
            font-weight: bold;
            background: linear-gradient(to right, #1d0c5066, #450953b5);
            -webkit-background-clip: text;
            color: transparent;
    }
    .innerdb{
        font-size: 18px;

        background: linear-gradient(to right, #6200ea, #6312c6);
        -webkit-background-clip: text;
        color: transparent;
    }
    .arrow {
        font-size: 20px;
    }
    
    .content {
        display: none; /* Initially hide the content */
        padding: 10px;
    }
    
    .content.show {
        display: block; /* Show the content when toggled */
    }
    
