* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo img {
    margin-top: 5px;
        height: 8vh;
    width: auto;
    margin-left: 27px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5vw;
    justify-content: flex-start;
}

.menu li {
    left: 10px;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 400;
}
.menu li :hover{
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}
.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #000;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0 10px;
    right: 30%;
}

.search-input {
    border: 1px solid rgb(46, 27, 46);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    margin-right: 5px;
}
.icons img {
    height: 30px;
    width: auto;
}
.button-nav{
    display: flex;
    gap: 30px;
}
.admin-login-button {
    background: linear-gradient(to right, #6200ea, #bb86fc);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.admin-login-button:hover {
    background: linear-gradient(to right, #bb86fc, #6200ea);
    cursor: pointer;
    text-decoration: underline;
    /* transition: all 15s ease; */
}
.sighting-button{
    background: linear-gradient(to right, #6200ea, #bb86fc);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 16px;
    
}
    .sighting-button:hover {
        background: linear-gradient(to right, #bb86fc, #6200ea);
        cursor: pointer;
        text-decoration: underline;
    }


    /* Nav bar ends hereeeeeeeeeeeeeeeeeeeee */
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
        position: relative;
         top: 17vh;
         left: 1.5vw;
         margin-bottom: 36vh;
         

    }
    .text {
        flex: 1;
        padding-right: 50px;
    }
    .headline {
        font-size: 46px;
        /* font-weight: bold; */
        margin-bottom: 20px;
        /* background: linear-gradient(to right, #6200ea, #bb86fc); */
        -webkit-background-clip: text;
        /* color: transparent; */
    }
    .subheading {
        font-size: 18px;
        color: #777;
        margin-bottom: 30px;
    }
    .button {
        background: linear-gradient(to right, #bb86fc, #6200ea);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
    }
    .button:hover {
        background: linear-gradient(to right, #6200ea, #bb86fc);
    }
    .image {
        flex: 1;
        text-align: right;
        position: relative;
        right: 2vw;
    }
    .image img {
        max-width: 800px;
        height: 400px;
    }

    /* colors for the text */
    .headline #Humanity{
        font-size: 54px;
            font-weight: bold;
            background: linear-gradient(to right, #d322ee90, #9b0482);
            -webkit-background-clip: text;
            color: transparent;
    }
    .sub-headline{
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 20px;
        background: linear-gradient(to right, #6200ea, #bb86fc);
        -webkit-background-clip: text;
    }
    .sub-headline #homeless{
        font-size: 50px;
            font-weight: bold;
            background: linear-gradient(to right, #7814ea90, #8c049b);
            -webkit-background-clip: text;
            color: transparent;

    }

    /* slides */
    .slideParent{
        position: relative;
    }
    .slide {
        display: flex;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        
    }
    
    .slide img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        transition: transform 0.5s ease;
    }
    
    #prevBtn,
    #nextBtn {
        position: absolute;
        top: 50%;
        background-color: rgba(255, 255, 255, 0);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        z-index: 99;
    }
    
    #prevBtn {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
    }
    
    #nextBtn {
        right: 0;
        transform: translateY(-50%);
    }
/* cards */
    .cards-container {
        display: flex;
        overflow-x: auto; 
    overflow-y: hidden; 
        /* height: 200px; */
        width: 100%;
        margin: 30px 0px 10px 10px;
        margin-right: 20px;
    }

    .card {
        flex: 0 0 auto;
        width: 400px;
        height: 250px;
        margin-right: 10px;
        max-width: 100%;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text-card{
        margin: 20px;
        font-size: 27px;
        font-weight: 500;
    }
    #homelessness{
        font-size: 45px;
        font-weight: bold;
        background: linear-gradient(to right, #7814ea90, #8c049b);
        -webkit-background-clip: text;
        color: transparent;
        text-decoration: line-through;
        text-decoration-color: #a82494a1; 
    }

    /* footerrrrrrrrrrrr */
    footer{
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        background-color: #2d2e33;
        justify-content: space-between;
        padding: 60px 10%;
        height: 40vh;
    }
    
    ul{
        list-style: none;
    }
    
    .footer-col{
        width: 25%;
    }
    
    .footer-col h4{
        position: relative;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 22px;
        color: #f1bc0d;
        text-transform: capitalize;
    }
    
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        background-color: #27c0ac;
        height: 2px;
        width: 40px;
    }
    
    ul li:not(:last-child){
        margin-bottom: 8px;
    }
    
    ul li a{
        display: block;
        font-size: 19px;
        text-transform: capitalize;
        color: #bdb6b6;
        text-decoration: none;
        transition: 0.4s;
    }
    
    ul li a:hover{
        color: white;
        padding-left: 2px;
    }
    
    .links a{
        display: inline-block;
        height: 44px;
        width: 44px;
        color: white;
        background-color: rgba(40, 130, 214, 0.8);
        margin: 0 8px 8px 0;
        text-align: center;
        line-height: 44px;
        border-radius: 50%;
        transition: 0.4s;
    }
    
    .links a:hover{
        color: #4d4f55;
        background-color: white;
    }
    
    @media(max-width: 740px){
        .footer-col{
            width: 50%;
            margin-bottom: 30px;
            text-align: center;
        }
    
        .footer-col h4::before{
            all: unset;
        }
    }
    
    @media(max-width: 555px){
        .footer-col{
            width: 100%;
        }
    }